In [10]:
import pandas as pd
import  numpy as np
from sklearn.impute import SimpleImputer
base = pd.read_csv('credit-data.csv')
#print(base.describe())
#print(base.loc[base['age']<0])

#apagar a coluna
#base.drop('age', 1, inplace=True )


#apagar somente os registros com problema
#base.drop(base[base.age< 0].index, inplace=True)

#preencher os valores manualmente

#preencher os valores com a media
#print(base.mean())

#print(base['age'][base.age > 0].mean())

base.loc[base.age < 0, 'age'] = base['age'][base.age > 0].mean()

#print(base.loc[pd.isnull(base['age'])])
base.head(30)

    clientid        income        age          loan  default
0          1  66155.925095  59.017015   8106.532131        0
1          2  34415.153966  48.117153   6564.745018        0
2          3  57317.170063  63.108049   8020.953296        0
3          4  42709.534201  45.751972   6103.642260        0
4          5  66952.688845  18.584336   8770.099235        1
5          6  24904.064140  57.471607     15.498598        0
6          7  48430.359613  26.809132   5722.581981        0
7          8  24500.141984  32.897548   2971.003310        1
8          9  40654.892537  55.496853   4755.825280        0
9         10  25075.872771  39.776378   1409.230371        0
10        11  64131.415372  25.679575   4351.028971        0
11        12  59436.847123  60.471936   9254.244538        0
12        13  61050.346079  26.355044   5893.264659        0
13        14  27267.995458  61.576776   4759.787581        0
14        15  63061.960174  39.201553   1850.369377        0
15        16  50501.726689  40.927700   3977.287432        0
16        17  43548.654711  39.574530   3935.544453        0
17        18  43378.175194  60.848318   3277.737553        0
18        19  20542.365073  61.690571   3157.442290        0
19        20  58887.357549  26.076093   4965.516066        0
20        21  23000.784002  31.761354   1148.118057        0
21        22  32197.620701  40.927700   4244.057136        0
22        23  23329.319414  48.576975    222.622299        0
23        24  27845.800894  51.970624   4959.921226        0
24        25  65301.984029  48.840922   5465.267886        0
25        26  47451.630123  27.031741   5361.282716        0
26        27  63287.038908  40.927700   9595.286289        0
27        28  45727.459870  55.839922   6376.822949        0
28        29  59417.805406        NaN   2082.625938        0
29        30  58842.891308  54.510948  10871.186790        0

In [15]:
previsores = base.iloc[:,1:4].values
classe = base.iloc[:,4].values

previsores

array([[6.61559251e+04, 5.90170151e+01],
       [3.44151540e+04, 4.81171531e+01],
       [5.73171701e+04, 6.31080495e+01],
       ...,
       [4.43114493e+04, 2.80171669e+01],
       [4.37560566e+04, 6.39717958e+01],
       [6.94365796e+04, 5.61526170e+01]])

In [17]:

imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean', )
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:,0:3])

previsores

array([[6.61559251e+04, 5.90170151e+01],
       [3.44151540e+04, 4.81171531e+01],
       [5.73171701e+04, 6.31080495e+01],
       ...,
       [4.43114493e+04, 2.80171669e+01],
       [4.37560566e+04, 6.39717958e+01],
       [6.94365796e+04, 5.61526170e+01]])